@import "../_parts/_nav";
@import "../_parts/_main-title";

.main {
	padding: 38px 60px 0 70px;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(to right, $standard-linear-begin 0%, $standard-linear-end 100%), url('../img/bg-main.webp');
	background-size: cover, cover;
	background-repeat: no-repeat, no-repeat;
	@media screen and (max-width: 576px) {
		padding: 38px 20px 0 10px;
	}
}
