.portfolio {
	>.title {
		padding-top: 100px;
		padding-bottom: 100px;
		background: $standard-light-grey;
		text-align: center;
		@media screen and (max-width: 576px) {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
	.portfolio__gallery {
		padding-left: 270px;
		padding-right: 260px;
		padding-top: 80px;
		background-image: linear-gradient(to right, $standard-linear-begin 0%, $standard-linear-end 100%), url("../img/bg-portfolio.png");
		background-repeat: repeat;
		background-size: contain, contain;
		height: 704px;
		@media screen and (max-width: 1600px) {
			padding-left: 170px;
			padding-right: 170px;
		}
		@media screen and (max-width: 1390px) {
			padding-left: 100px;
			padding-right: 100px;
		}
		@media screen and (max-width: 1280px) {
			padding-left: 0px;
			padding-right: 0px;
			height: auto;
			background-repeat: repeat-y;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			@extend .no-margin-padding;
			li {
				list-style-type: none;
				width: 300px;
				height: 255px;
				border: 1px solid black;
				margin-bottom: 40px;
				transition: all 0.3s ease-in;
				z-index: 3;
				overflow: hidden;
				position: relative;
				@media screen and (max-width: 400px) {
					width: 250px;
					height: 215px;
				}
				&:not(:nth-child(3n)) {
					margin-right: 60px;
				}
				@media screen and (max-width: 768px) {
					margin-right: 20px !important;
				}
				@media screen and (max-width: 1365px) {
					&:nth-child(3n) {
						margin-right: 60px;
					}
				}
				@media screen and (max-width: 768px) {
					&:nth-child(3n) {
						margin-right: 20px;
					}
				}
				&:hover {
					transition: all 0.3s ease-in;
					img {
						transition: all 0.3s ease-in;
					}
					.gallery-item__overlay {
						opacity: 1;
						transition: all 0.3s ease-in;
					}
				}
				img {
					width: 120%;
					z-index: 2;
					transition: all 0.3s ease-in;
				}
				.gallery-item__overlay {
					cursor: pointer;
					position: absolute;
					top: 0%;
					height: 256px;
					left: 0;
					right: 0;
					background-color: rgba(255, 255, 255, 0.8);
					border: 15px solid #b4cbc9;
					transition: all 0.3s ease-in;
					opacity: 0;
					.fas {
						font-size: 70px;
					    position: absolute;
					    top: 25%;
					    left: 0;
					    width: 100%;
					    text-align: center;
					    color: $standard-green;
					}
					span {
						position: absolute;
						bottom: 26px;
						left: 0;
						text-transform: uppercase;
						color: $standard-black;
						font-weight: 700;
						font-size: 18px;
						text-align: center;
						width: 100%;
					}
				}
			}
		}
	}
}