$standard-white: #f5f5f5;
$standard-black: #22252c;
$standard-light-grey: #313741;
$standard-green: #00d7bb;
$standard-grey: #8491a2;

$standard-linear-begin: rgba(0, 242, 152, 0.78);
$standard-linear-end: rgba(7, 247, 247, 0.78);